[Desktop Entry]
Name=Alligator
Name[ca]=Alligator
Name[ca@valencia]=Alligator
Name[cs]=Alligator
Name[en_GB]=Alligator
Name[es]=Alligator
Name[et]=Alligator
Name[eu]=Alligator
Name[fi]=Alligator
Name[fr]=Alligator
Name[hi]=एल्लिगेटर (Alligator)
Name[hu]=Alligator
Name[ia]=Alligator
Name[it]=Alligator
Name[ko]=Alligator
Name[nl]=Alligator
Name[nn]=Alligator
Name[pt]=Alligator
Name[pt_BR]=Alligator
Name[ru]=Alligator
Name[sk]=Alligator
Name[sl]=Alligator
Name[sv]=Alligator
Name[tr]=Alligator
Name[uk]=Alligator
Name[x-test]=xxAlligatorxx
Comment=Mobile Feed Reader
Comment[ca]=Lector de fonts per al mòbil
Comment[ca@valencia]=Lector de fonts per al mòbil
Comment[cs]=Mobilní čtečka kanálů
Comment[en_GB]=Mobile Feed Reader
Comment[es]=Lector móvil de emisiones web
Comment[et]=Mobiili uudistelugeja
Comment[eu]=Mugikorrerako web-jario irakurlea
Comment[fi]=Mobiilisyötelukija
Comment[fr]=Lecteur nomade de fils d'actualité
Comment[hi]=मोबाइल फ़ीड रीडर
Comment[hu]=Mobil hírolvasó
Comment[ia]=Lector de syndicationes Mobile
Comment[it]=Lettore di fonti mobile
Comment[ko]=모바일 피드 리더
Comment[nl]=Mobiele feedlezer
Comment[nn]=Mobil kjeldelesar
Comment[pt]=Leitor Móvel de Fontes
Comment[pt_BR]=Leitor de fonte de notícias móvel
Comment[ru]=Чтение лент новостей для мобильных устройств
Comment[sl]=Mobilni bralnik novic
Comment[sv]=Mobil kanalläsare
Comment[tr]=Mobil Besleme Okuyucu
Comment[uk]=Програма для читання подач на мобільному
Comment[x-test]=xxMobile Feed Readerxx
GenericName=Feed Reader
GenericName[ca]=Lector de fonts
GenericName[ca@valencia]=Lector de fonts
GenericName[cs]=Čtečka kanálů
GenericName[en_GB]=Feed Reader
GenericName[es]=Lector de emisiones web
GenericName[et]=Uudistelugeja
GenericName[eu]=Web-jario irakurlea
GenericName[fi]=Syötteenlukija
GenericName[fr]=Lecteur de fils d'actualité
GenericName[hi]=फ़ीड रीडर
GenericName[hu]=Hírolvasó
GenericName[ia]=Lector de syndication
GenericName[it]=Lettore di fonti
GenericName[ko]=피드 리더
GenericName[nl]=Feedlezer
GenericName[nn]=Kjeldelesar
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de fontes de notícias
GenericName[ru]=Чтение лент новостей
GenericName[sk]=Čítačka RSS kanálov
GenericName[sl]=Bralnik novic
GenericName[sv]=Kanalläsare
GenericName[tr]=Besleme Okuyucu
GenericName[uk]=Читання подач
GenericName[x-test]=xxFeed Readerxx
Icon=alligator
Exec=alligator
Type=Application
Categories=Network;Qt;KDE;Feed;
Terminal=false
InitialPreference=10
