[Desktop Entry]
Name=Alligator
Name[ca]=Alligator
Name[ca@valencia]=Alligator
Name[et]=Alligator
Name[fr]=Alligator
Name[it]=Alligator
Name[ko]=Alligator
Name[nl]=Alligator
Name[pt]=Alligator
Name[ru]=Alligator
Name[sk]=Alligator
Name[sv]=Alligator
Name[uk]=Alligator
Name[x-test]=xxAlligatorxx
Comment=Mobile Feed Reader
Comment[ca]=Lector de fonts per a mòbil
Comment[ca@valencia]=Lector de fonts per a mòbil
Comment[et]=Mobiili uudistelugeja
Comment[fr]=Lecteur nomade de fils d'actualité
Comment[it]=Lettore di fonti mobile
Comment[ko]=모바일 피드 리더
Comment[nl]=Mobiele feedlezer
Comment[pt]=Leitor Móvel de Fontes
Comment[ru]=Чтение лент новостей для мобильных устройств
Comment[sv]=Mobil kanalläsare
Comment[uk]=Програма для читання подач на мобільному
Comment[x-test]=xxMobile Feed Readerxx
GenericName=Feed Reader
GenericName[ca]=Lector de fonts
GenericName[ca@valencia]=Lector de fonts
GenericName[et]=Uudistelugeja
GenericName[fr]=Lecteur de fils d'actualité
GenericName[it]=Lettore di fonti
GenericName[ko]=피드 리더
GenericName[nl]=Feedlezer
GenericName[pt]=Leitor de Fontes
GenericName[ru]=Чтение лент новостей
GenericName[sk]=Čítačka RSS kanálov
GenericName[sv]=Kanalläsare
GenericName[uk]=Читання подач
GenericName[x-test]=xxFeed Readerxx
Encoding=UTF-8
Icon=alligator
Exec=alligator
Type=Application
Categories=Qt;KDE;RSS;
Terminal=false
MimeType=application/rss+xml;
InitialPreference=10
