[Desktop Entry]
Name=Kasts
Name[ca]=Kasts
Name[de]=Kasts
Name[es]=Kasts
Name[nl]=Kasts
Name[sv]=Kasts
Name[uk]=Kasts
Name[x-test]=xxKastsxx
Comment=Mobile Podcast Application
Comment[ca]=Aplicació mòbil per a podcast
Comment[de]= Podcast-App für Mobilgeräte
Comment[es]=Aplicación de podcast para móviles
Comment[nl]=Podcastprogramma voor mobiel
Comment[sv]=Mobilt poddradioprogram
Comment[uk]=Мобільна програма для подкастів
Comment[x-test]=xxMobile Podcast Applicationxx
GenericName=Podcast Application
GenericName[ca]=Aplicació de podcast
GenericName[de]=Podcast-App
GenericName[es]=Aplicación de podcast
GenericName[nl]=Podcastprogramma
GenericName[sv]=Poddradioprogram
GenericName[uk]=Програма для подкастів
GenericName[x-test]=xxPodcast Applicationxx
Icon=kasts
Exec=kasts
Type=Application
Categories=Network;Qt;KDE;Feed;
Terminal=false
InitialPreference=10
