# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Bart De Vries <bart@mogwai.be>
[Desktop Entry]
Name=Kasts
Name[ca]=Kasts
Name[ca@valencia]=Kasts
Name[cs]=Kasts
Name[de]=Kasts
Name[en_GB]=Kasts
Name[es]=Kasts
Name[fi]=Kasts
Name[fr]=Kasts
Name[it]=Kasts
Name[ka]=Kasts
Name[ko]=Kasts
Name[nl]=Kasts
Name[pa]=ਕਾਸਟਸ
Name[pl]=Kasts
Name[pt]=Kasts
Name[pt_BR]=Kasts
Name[ru]=Kasts
Name[sk]=Kasts
Name[sl]=Kasts
Name[sv]=Kasts
Name[tr]=Kasts
Name[uk]=Kasts
Name[x-test]=xxKastsxx
Name[zh_CN]=Kasts
Comment=Mobile Podcast Application
Comment[ca]=Aplicació mòbil per a podcast
Comment[ca@valencia]=Aplicació mòbil per a podcast
Comment[cs]=Mobilní aplikace pro přehrávání podcastů
Comment[de]=Podcast-Anwendung für Mobilgeräte
Comment[en_GB]=Mobile Podcast Application
Comment[es]=Aplicación de pódcast para móviles
Comment[fi]=Podcast-mobiilisovellus
Comment[fr]=Application mobile pour podcasts
Comment[it]=Applicazione mobile per podcast
Comment[ka]=მობილური პოდკასტის აპლიკაცია
Comment[ko]=모바일 팟캐스트 프로그램
Comment[nl]=Podcastprogramma voor mobiel
Comment[pa]=ਮੋਬਾਈਲ ਪੋਡਕਾਸਟ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Przenośna aplikacja do podkastów
Comment[pt]=Aplicação Móvel de 'Podcasts'
Comment[pt_BR]=Aplicativo de podcast móvel
Comment[ru]=Мобильное приложение для подкастов
Comment[sk]=Mobilná aplikácia na podcasty
Comment[sl]=Aplikacija mobilnih podcastov
Comment[sv]=Mobilt poddradioprogram
Comment[tr]=Taşınabilir Pod Yayını Uygulaması
Comment[uk]=Мобільна програма для подкастів
Comment[x-test]=xxMobile Podcast Applicationxx
Comment[zh_CN]=移动设备播客应用程序
GenericName=Podcast Application
GenericName[ca]=Aplicació de podcast
GenericName[ca@valencia]=Aplicació de podcast
GenericName[cs]=Aplikace pro přehrávání podcastů
GenericName[de]=Podcast-Anwendung
GenericName[en_GB]=Podcast Application
GenericName[es]=Aplicación de pódcast
GenericName[fi]=Podcast-sovellus
GenericName[fr]=Application pour podcasts
GenericName[it]=Applicazione podcast
GenericName[ka]=პოდკასტის აპლიკაცია
GenericName[ko]=팟캐스트 프로그램
GenericName[nl]=Podcastprogramma
GenericName[pa]=ਪੋਡਕਾਸਟ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Aplikacja do podkastów
GenericName[pt]=Aplicação de 'Podcasts'
GenericName[pt_BR]=Aplicativo de podcast
GenericName[ru]=Приложение для подкастов
GenericName[sk]=Aplikácia na podcasty
GenericName[sl]=Aplikacija podcastov
GenericName[sv]=Poddradioprogram
GenericName[tr]=Pod Yayını Uygulaması
GenericName[uk]=Програма для подкастів
GenericName[x-test]=xxPodcast Applicationxx
GenericName[zh_CN]=播客应用程序
Keywords=podcast
Keywords[ca]=podcast
Keywords[ca@valencia]=podcast
Keywords[cs]=podcast
Keywords[de]=Podcast
Keywords[en_GB]=podcast
Keywords[es]=pódcast
Keywords[fi]=podcast
Keywords[fr]=podcast
Keywords[it]=podcast
Keywords[ka]=პოდკასტი
Keywords[ko]=팟캐스트
Keywords[nl]=podcast
Keywords[pl]=podkast
Keywords[pt]=podcast
Keywords[ru]=podcast;подкаст
Keywords[sl]=podcast
Keywords[sv]=poddsändning
Keywords[tr]=pod yayını
Keywords[uk]=трансляція
Keywords[x-test]=xxpodcastxx
Keywords[zh_CN]=播客
Icon=kasts
Exec=kasts
Type=Application
Categories=Network;Qt;KDE;Feed;
Terminal=false
InitialPreference=10
X-KDE-FormFactor=desktop;tablet;handset;
StartupNotify=true
